
.groupBtn {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px 0px;
}

.btn {
    padding: 6px 10px !important;
}

.form-label {
    color: black !important;
}

.breadcrumb-item {
    font-size: large;
    font-weight: bold;
}