
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form id="formSearch" action="/Role/SearchData">
            <div class="row">
                <div class="mb-3 col-6">
                    @Html.Label("Code", "Mã vai trò", new { @class = "form-label" })
                    @Html.TextBox("Code", "", "", new { @class = "form-control" })
                </div>
                <div class="mb-3 col-6">
                    @Html.Label("Name", "Tên vai trò", new { @class = "form-label" })
                    @Html.TextBox("Name", "", "", new { @class = "form-control" })
                </div>
            </div>
        </form>
    </div>
</div>
