@using Service.RoleService.Dto;
@using X.PagedList;
@using Web.Models.Common;
@model IPagedList<RoleDto>

@{
    Layout = null;
}

<style>
    .thaoTac {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>

<div class="container">
    <h2>Danh sách vai trò</h2>
    <table class="table table-responsive table-bordered table-striped table-hover">
        <thead class="table-info">
            <tr>
                <th>STT</th>
                <th>Code</th>
                <th>Name</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                int stt = (Model.PageNumber - 1) * Model.PageSize;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(++stt)</td>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>
                            <div class="thaoTac">
                                <i class="btn btn-warning bi bi-pencil-square"></i>
                                <i class="btn btn-danger bi bi-trash3"></i>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>

    @* Phân trang  *@
    @{
        Html.RenderPartial("_PageList", new PageList
            {
                HasPreviousPage = Model.HasPreviousPage,
                HasNextPage = Model.HasNextPage,
                TotalPages = Model.PageCount,
                PageSize = Model.PageSize,
                TotalCount = Model.TotalItemCount,
                PageIndex = Model.PageNumber,
                ControllerName = "Role"
            });
    }
</div>