@using Service.RoleService.Dto;
@using X.PagedList;
@using Web.Models.Common;
@model IPagedList<RoleDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="btnAdd">
    <button type="button" class="btn btn-primary btn-sm" onclick="CreateAction('@Url.Action("Create", "Role")')"><i class="bi bi-plus-lg"></i>Thêm mới</button>
</div>

<div class="viewData">
    @{
        Html.RenderPartial("_ViewData", Model);
    }
</div>

<script>
</script>

